@import '../../shared/grids.scss';

.main {
    @include main-grid;
}

.button {
    position: relative;
	padding: .5em 1em;
    border: 0; 
    margin: .5em;
	background: transparent;
	color: white;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #45A;
    transform: skew(45deg);
}