.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto); }

.picture {
  margin: 3em auto;
  width: 200px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden; }

.picture img {
  max-width: 100%;
  -webkit-transform: rotate(-45deg) scale(1.42);
  -ms-transform: rotate(-45deg) scale(1.42);
  transform: rotate(-45deg) scale(1.42); }
