@import '../../shared/grids.scss';

.main {
    @include main-grid;
} 

.picture {
    margin: 3em auto;
    width: 200px;
    transform: rotate(45deg);
    overflow: hidden;
}

.picture {
    img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.42);
    }
}