.wrapper {
  margin-top: 4em;
  text-align: center; }

.header {
  position: relative;
  display: inline-block;
  color: red; }
  .header::before, .header::after {
    content: '';
    height: 100%;
    display: block;
    position: absolute; }
  .header::before {
    background: white;
    z-index: -1;
    left: -20px;
    right: -20px; }
  .header::after {
    background: red;
    width: 100vw;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -2; }

.card-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.card-content {
  position: relative;
  margin: 1em; }
  .card-content::before, .card-content::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em; }
  .card-content::before {
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    -webkit-transition: -webkit-transform ease-out 250ms;
    transition: -webkit-transform ease-out 250ms;
    -o-transition: transform ease-out 250ms;
    transition: transform ease-out 250ms;
    transition: transform ease-out 250ms, -webkit-transform ease-out 250ms; }
  .card-content::after {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    border-left: solid 1px white;
    border-right: solid 1px white;
    -webkit-transition: -webkit-transform ease-out 250ms;
    transition: -webkit-transform ease-out 250ms;
    -o-transition: transform ease-out 250ms;
    transition: transform ease-out 250ms;
    transition: transform ease-out 250ms, -webkit-transform ease-out 250ms; }
  .card-content:hover::before {
    -webkit-transform: scale(1.1, 1);
    -ms-transform: scale(1.1, 1);
    transform: scale(1.1, 1); }
  .card-content:hover::after {
    -webkit-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    transform: scale(1, 1.1); }

.card-content:hover {
  background: rgba(0, 0, 0, 0.4); }

.card-img {
  max-width: 100%;
  display: block;
  -webkit-transition: opacity ease-out 250ms;
  -o-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
  opacity: 1; }

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  -webkit-transition: opacity ease-out 250ms;
  -o-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms; }

.card-content:hover .card-text {
  opacity: 1; }
