<div class="wrapper">
  <h1 class="header">SOME GENERIC HEADER</h1>

  <div class="card-container">
    <div class="card-content">
      <img class="card-img" src="assets/images/cat.jpg">
      <div class="card-text">
        <h3 class="card-title">Card Title</h3>
        <p class="card-body">And here is some text</p>
      </div>
    </div>
  </div>

  <div class="item-list">
    <div class="item">one</div>
    <div class="item">two</div>
    <div class="item">three</div>
    <div class="item">four</div>
    <div class="item">five</div>
  </div>

</div>