.wrapper {
    margin-top: 4em;
}

.container-1 {
    background: pink;
    width: 50vw;
    height: 50vh;
    padding: 0.5em;
    margin: 25vh auto 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //flex-flow: row||column wrap||no-wrap is an alternate syntax

    justify-content: space-around;
    align-items: center;
}

.item {
    background: lightblue;
    margin: 0.5em; 
}

.container-2 {
    background: lightblue;
    width: 50vw;
    height: 50vh;
    padding: 0.5em;
    margin: 25vh auto 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.demo2 {
    background: pink;
    width: 100vw;
    height: 100vh;
    padding: 0.5em;
    margin: 25vh auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    * {
        background: skyblue;
        margin: 1em;
    }
}


.one {
    flex:1 1 250px;
    order: 3;
}

.two {
    flex:1 1 250px;
    align-self: center;
    order: 2;
}

.three {
    flex:1 1 250px;
    order: -1;
}
