<div class="main">
  <h1>Taming Table Column Widths</h1>

  <section>
    <table>
      <tr>
        <td>If we don’t…</td>
        <td>specify a cell width, they will be assigned one that depends on their contents. Notice how the cell with the more
          content here is much wider.</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>If we don’t…</td>
        <td>specify a cell width, they will be assigned one that depends on their contents. Notice how the cell with the more
          content here is much wider.</td>
      </tr>
      <tr>
        <td>All rows take part in calculating the widths, not just the first one.</td>
        <td>Notice how the dimensions here are different than the previous example.</td>
      </tr>
    </table>
  </section>

</div>