.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto); }

.horizontal {
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fb3), color-stop(0, #58a));
  background: -webkit-linear-gradient(#fb3 50%, #58a 0);
  background: -o-linear-gradient(#fb3 50%, #58a 0);
  background: linear-gradient(#fb3 50%, #58a 0);
  background-size: 100% 50px; }

.vertical {
  height: 200px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fb3), color-stop(0, #58a));
  background: -webkit-linear-gradient(left, #fb3 50%, #58a 0);
  background: -o-linear-gradient(left, #fb3 50%, #58a 0);
  background: linear-gradient(to right, #fb3 50%, #58a 0);
  background-size: 50px 100%; }

.diagonal {
  height: 200px;
  background: -webkit-repeating-linear-gradient(45deg, #fb3, #fb3 15px, #58a 0, #58a 30px);
  background: -o-repeating-linear-gradient(45deg, #fb3, #fb3 15px, #58a 0, #58a 30px);
  background: repeating-linear-gradient(45deg, #fb3, #fb3 15px, #58a 0, #58a 30px); }

.subtle {
  height: 200px;
  background: #56a;
  background-image: -webkit-repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 15px, transparent 0, transparent 30px);
  background-image: -o-repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 15px, transparent 0, transparent 30px);
  background-image: repeating-linear-gradient(30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 15px, transparent 0, transparent 30px); }
