.main {
  margin-top: 3em; }

h1 {
  position: relative;
  margin-left: 2em;
  padding: .5em 1em;
  border: 0;
  background: transparent;
  color: white; }

h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #45A;
  -webkit-transform: skew(45deg);
  -ms-transform: skew(45deg);
  transform: skew(45deg); }
